@import url('https://fonts.googleapis.com/css2?family=Allerta&family=Amatic+SC&family=Caveat&family=Kaushan+Script&family=Kdam+Thmor+Pro&family=Nothing+You+Could+Do&family=Noto+Sans+Mono&family=Orbitron&family=Philosopher:ital@1&family=Press+Start+2P&family=Roboto:wght@400;700&family=Shadows+Into+Light&family=Silkscreen&family=Splash&display=swap');

* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* overflow: hidden; */
  margin: 0;
}

.carousel {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  height: 530px;
  width: 500px;
  overflow: hidden;
}

img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.image-container {
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: rebeccapurple;
  color: #fff;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  width: 49.5%;
}

.btn:hover {
  opacity: 0.9;
}
.btn:focus {
  outline: none;
}
